<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Your Listings", events_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link active" %></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your Trips
            </div>
            <div class="panel-body">
                
                <% @trips.each do |trip| %>
                    <div class="row">
                        <div class="col-md-2">
                            <%= trip.start_date.strftime('%v') %>
                        </div>
                        <div class="col-md-2">
                            <%= link_to event_path(trip.event) do %>
                                <%= image_tag trip.event.cover_photo(:thumb) %>
                            <% end %>
                        </div>
                        <div class="col-md-5">
                            <%= link_to trip.event.listing_name, event_path(trip.event) %><br/><br/>
                            <span>
                <%= image_tag avatar_url(trip.event.user), class: "img-circle avatar-small" %>
                                <%= link_to user_path(trip.event.user) do %>
                    <%= trip.event.user.fullname %>
                <% end %>
              </span>
                        </div>
                        <div class="col-md-3 text-right">
                            <%= render partial: "reviews/guest_form", locals: {reservation: trip} %>
                        </div>
                    </div>
                    <hr/>
                <% end %>
            </div>
        </div>
    </div>
</div>
